/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-color: rgb(255 255 255 / 0.5);
  --bg-color-gradient-start: #e7e7e7;
  --bg-color-gradient-end: #1a1a1a;
  --btn-color-bg: #fff;
  --btn-color-txt: #fff;
  --color-theme: #fff;
  --color-theme-accent: #000;
  --color-text-page: #000;
  --font-family: "Press Start 2P";
  --font-family-post: "Inter";
  --font-weight-post-title: 700;
  --font-weight-text: 400;
  --svg-contour: #000;
  --svg-fill: red;
  --svg-color-active: red;
  --modal-color-backdrop: rgb(0 0 0 / 0.75);
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg-color: #000;
    --bg-color-gradient-start: #007f0c;
    --bg-color-gradient-end: #004306;
    --color-theme: #000;
    --color-theme-accent: #00cc14;
    --color-text-page: #00cc14;
    --font-weight-post-title: 785;
    --font-weight-text: 465;
    --btn-color-bg: #000;
    --btn-color-txt: #00cc14;
    --svg-contour: #00cc14;
    --svg-fill: red;
    --svg-color-active: red;
    --modal-color-backdrop: rgb(0 0 0 / 0.75);
  }
}
