/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-color: rgb(255 255 255 / 0.5);
  --bg-color-gradient-start: #e7e7e7;
  --bg-color-gradient-end: #1a1a1a;
  --btn-color-bg: #fff;
  --btn-color-txt: #fff;
  --color-theme: #fff;
  --color-theme-accent: #000;
  --color-text-page: #000;
  --font-family: "Press Start 2P";
  --font-family-post: "Inter";
  --font-weight-post-title: 700;
  --font-weight-text: 400;
  --svg-contour: #000;
  --svg-fill: red;
  --svg-color-active: red;
  --modal-color-backdrop: rgb(0 0 0 / 0.75);
}
